<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SENDTO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:overrideLibrary="com.android.car.ui"
        tools:targetApi="31">
        <activity
            android:name=".Register"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Lauchpage"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".Forgot"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity android:name=".Home"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />

        <activity android:name=".Profile"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />

        <activity android:name=".Chatbot"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".Setting"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />


    </application>

</manifest>